body {
  background-image: url(https://image.freepik.com/free-photo/new-wood-texture-background_1318-43.jpg);
  background-size: cover;
  margin: 0;
  line-height: 24px;
  color: black;
}

.nav {
  text-align: center;
  width: 100%;
  background: green;
}

.nav ul {
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
}

.nav ul li {
  width: 100%;
  float: left;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  display: inline;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.nav ul li a:hover {
  background-color: brown
}

.nav ul li ul li {
  display: none;
}

.nav ul li:hover ul li {
  display: block;
}

